<!-- Visitor Map Widget - icon-sized -->
<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=teCW9GNpXm22VYxGOKZxeEN78HFDHQFCl8fD9-xE-QQ&cl=ffffff&w=a"></script>

<style>
  .footer #mapmyvisitors {
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0 5px !important;
    padding: 0 !important;
    vertical-align: middle !important;
    overflow: hidden !important;
  }
  .footer #mapmyvisitors img, 
  .footer #mapmyvisitors canvas,
  .footer #mapmyvisitors > div {
    width: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .footer #mapmyvisitors a {
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
  }
</style>
