<!-- Visitor Map Widget - matches footer icon size -->
<a href="https://mapmyvisitors.com/web/1bw9w" title="Visit tracker" style="display: inline-block; margin: 0 5px;">
  <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=teCW9GNpXm22VYxGOKZxeEN78HFDHQFCl8fD9-xE-QQ&cl=ffffff&w=a"></script>
</a>

<style>
  #mapmyvisitors {
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle !important;
  }
  #mapmyvisitors img, #mapmyvisitors canvas {
    width: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
</style>
