{% if page.mathjax or site.mathjax %}
<div style="display: none;">
    <script type="text/javascript" defer src='{{site.mathjax.config_path}}'>
    </script>
    <script type="text/javascript" async
    src="{{site.mathjax.path}}">
    </script>
    $$
    \def\ba{\mathbf{a}}
    \def\bb{\mathbf{b}}
    \def\bc{\mathbf{c}}
    \def\bd{\mathbf{d}}
    \def\be{\mathbf{e}}
    \def\bf{\mathbf{f}}
    \def\bg{\mathbf{g}}
    \def\bh{\mathbf{h}}
    \def\bi{\mathbf{i}}
    \def\bj{\mathbf{j}}
    \def\bk{\mathbf{k}}
    \def\bl{\mathbf{l}}
    \def\bm{\mathbf{m}}
    \def\bn{\mathbf{n}}
    \def\bo{\mathbf{o}}
    \def\bp{\mathbf{p}}
    \def\bq{\mathbf{q}}
    \def\br{\mathbf{r}}
    \def\bs{\mathbf{s}}
    \def\bt{\mathbf{t}}
    \def\bu{\mathbf{u}}
    \def\bv{\mathbf{v}}
    \def\bw{\mathbf{w}}
    \def\bx{\mathbf{x}}
    \def\by{\mathbf{y}}
    \def\bz{\mathbf{z}}
    \def\bA{\mathbf{A}}
    \def\bB{\mathbf{B}}
    \def\bC{\mathbf{C}}
    \def\bD{\mathbf{D}}
    \def\bE{\mathbf{E}}
    \def\bF{\mathbf{F}}
    \def\bG{\mathbf{G}}
    \def\bH{\mathbf{H}}
    \def\bI{\mathbf{I}}
    \def\bJ{\mathbf{J}}
    \def\bK{\mathbf{K}}
    \def\bL{\mathbf{L}}
    \def\bM{\mathbf{M}}
    \def\bN{\mathbf{N}}
    \def\bO{\mathbf{O}}
    \def\bP{\mathbf{P}}
    \def\bQ{\mathbf{Q}}
    \def\bR{\mathbf{R}}
    \def\bS{\mathbf{S}}
    \def\bT{\mathbf{T}}
    \def\bU{\mathbf{U}}
    \def\bV{\mathbf{V}}
    \def\bW{\mathbf{W}}
    \def\bX{\mathbf{X}}
    \def\bY{\mathbf{Y}}
    \def\bZ{\mathbf{Z}}

    \def\balpha{\boldsymbol{\alpha}}
    \def\bbeta{\boldsymbol{\beta}}
    \def\bgamma{\boldsymbol{\gamma}}
    \def\bdelta{\boldsymbol{\delta}}
    \def\bepsilon{\boldsymbol{\epsilon}}
    \def\bvarepsilon{\boldsymbol{\varepsilon}}
    \def\bzeta{\boldsymbol{\zeta}}
    \def\btheta{\boldsymbol{\theta}}
    \def\bvartheta{\boldsymbol{\vartheta}}
    \def\biota{\boldsymbol{\iota}}
    \def\bkappa{\boldsymbol{\kappa}}
    \def\blambda{\boldsymbol{\lambda}}
    \def\bmu{\boldsymbol{\mu}}
    \def\bnu{\boldsymbol{\nu}}
    \def\bxi{\boldsymbol{\xi}}
    \def\bpi{\boldsymbol{\pi}}
    \def\brho{\boldsymbol{\rho}}
    \def\bsigma{\boldsymbol{\sigma}}
    \def\bvarsigma{\boldsymbol{\varsigma}}
    \def\btau{\boldsymbol{\tau}}
    \def\bupsilon{\boldsymbol{\upsilon}}
    \def\bphi{\boldsymbol{\phi}}
    \def\bvarphi{\boldsymbol{\varphi}}
    \def\bchi{\boldsymbol{\chi}}
    \def\bpsi{\boldsymbol{\psi}}
    \def\bomega{\boldsymbol{\omega}}
    \def\bGamma{\boldsymbol{\Gamma}}
    \def\bDelta{\boldsymbol{\Delta}}
    \def\bTheta{\boldsymbol{\Theta}}
    \def\bLambda{\boldsymbol{\Lambda}}
    \def\bXi{\boldsymbol{\Xi}}
    \def\bPi{\boldsymbol{\Pi}}
    \def\bSigma{\boldsymbol{\Sigma}}
    \def\bUpsilon{\boldsymbol{\Upsilon}}
    \def\bPhi{\boldsymbol{\Phi}}
    \def\bPsi{\boldsymbol{\Psi}}
    \def\bOmega{\boldsymbol{\Omega}}

    \def\bba{\mathbb{a}}
    \def\bbb{\mathbb{b}}
    \def\bbc{\mathbb{c}}
    \def\bbd{\mathbb{d}}
    \def\bbe{\mathbb{e}}
    \def\bbf{\mathbb{f}}
    \def\bbg{\mathbb{g}}
    \def\bbh{\mathbb{h}}
    \def\bbi{\mathbb{i}}
    \def\bbj{\mathbb{j}}
    \def\bbk{\mathbb{k}}
    \def\bbl{\mathbb{l}}
    \def\bbm{\mathbb{m}}
    \def\bbn{\mathbb{n}}
    \def\bbo{\mathbb{o}}
    \def\bbp{\mathbb{p}}
    \def\bbq{\mathbb{q}}
    \def\bbr{\mathbb{r}}
    \def\bbs{\mathbb{s}}
    \def\bbt{\mathbb{t}}
    \def\bbu{\mathbb{u}}
    \def\bbv{\mathbb{v}}
    \def\bbw{\mathbb{w}}
    \def\bbx{\mathbb{x}}
    \def\bby{\mathbb{y}}
    \def\bbz{\mathbb{z}}
    \def\bbA{\mathbb{A}}
    \def\bbB{\mathbb{B}}
    \def\bbC{\mathbb{C}}
    \def\bbD{\mathbb{D}}
    \def\bbE{\mathbb{E}}
    \def\bbF{\mathbb{F}}
    \def\bbG{\mathbb{G}}
    \def\bbH{\mathbb{H}}
    \def\bbI{\mathbb{I}}
    \def\bbJ{\mathbb{J}}
    \def\bbK{\mathbb{K}}
    \def\bbL{\mathbb{L}}
    \def\bbM{\mathbb{M}}
    \def\bbN{\mathbb{N}}
    \def\bbO{\mathbb{O}}
    \def\bbP{\mathbb{P}}
    \def\bbQ{\mathbb{Q}}
    \def\bbR{\mathbb{R}}
    \def\bbS{\mathbb{S}}
    \def\bbT{\mathbb{T}}
    \def\bbU{\mathbb{U}}
    \def\bbV{\mathbb{V}}
    \def\bbW{\mathbb{W}}
    \def\bbX{\mathbb{X}}
    \def\bbY{\mathbb{Y}}
    \def\bbZ{\mathbb{Z}}

    \def\cA{\mathcal{A}}
    \def\cB{\mathcal{B}}
    \def\cC{\mathcal{C}}
    \def\cD{\mathcal{D}}
    \def\cE{\mathcal{E}}
    \def\cF{\mathcal{F}}
    \def\cG{\mathcal{G}}
    \def\cH{\mathcal{H}}
    \def\cI{\mathcal{I}}
    \def\cJ{\mathcal{J}}
    \def\cK{\mathcal{K}}
    \def\cL{\mathcal{L}}
    \def\cM{\mathcal{M}}
    \def\cN{\mathcal{N}}
    \def\cO{\mathcal{O}}
    \def\cP{\mathcal{P}}
    \def\cQ{\mathcal{Q}}
    \def\cR{\mathcal{R}}
    \def\cS{\mathcal{S}}
    \def\cT{\mathcal{T}}
    \def\cU{\mathcal{U}}
    \def\cV{\mathcal{V}}
    \def\cW{\mathcal{W}}
    \def\cX{\mathcal{X}}
    \def\cY{\mathcal{Y}}
    \def\cZ{\mathcal{Z}}

    \def\ta{\textnormal{a}}
    \def\tb{\textnormal{b}}
    \def\tc{\textnormal{c}}
    \def\td{\textnormal{d}}
    \def\te{\textnormal{e}}
    \def\tf{\textnormal{f}}
    \def\tg{\textnormal{g}}
    \def\th{\textnormal{h}}
    \def\ti{\textnormal{i}}
    \def\tj{\textnormal{j}}
    \def\tk{\textnormal{k}}
    \def\tl{\textnormal{l}}
    \def\tm{\textnormal{m}}
    \def\tn{\textnormal{n}}
    \def\to{\textnormal{o}}
    \def\tp{\textnormal{p}}
    \def\tq{\textnormal{q}}
    \def\tr{\textnormal{r}}
    \def\ts{\textnormal{s}}
    \def\tt{\textnormal{t}}
    \def\tu{\textnormal{u}}
    \def\tv{\textnormal{v}}
    \def\tw{\textnormal{w}}
    \def\tx{\textnormal{x}}
    \def\ty{\textnormal{y}}
    \def\tz{\textnormal{z}}
    \def\tA{\textnormal{A}}
    \def\tB{\textnormal{B}}
    \def\tC{\textnormal{C}}
    \def\tD{\textnormal{D}}
    \def\tE{\textnormal{E}}
    \def\tF{\textnormal{F}}
    \def\tG{\textnormal{G}}
    \def\tH{\textnormal{H}}
    \def\tI{\textnormal{I}}
    \def\tJ{\textnormal{J}}
    \def\tK{\textnormal{K}}
    \def\tL{\textnormal{L}}
    \def\tM{\textnormal{M}}
    \def\tN{\textnormal{N}}
    \def\tO{\textnormal{O}}
    \def\tP{\textnormal{P}}
    \def\tQ{\textnormal{Q}}
    \def\tR{\textnormal{R}}
    \def\tS{\textnormal{S}}
    \def\tT{\textnormal{T}}
    \def\tU{\textnormal{U}}
    \def\tV{\textnormal{V}}
    \def\tW{\textnormal{W}}
    \def\tX{\textnormal{X}}
    \def\tY{\textnormal{Y}}
    \def\tZ{\textnormal{Z}}

    \newcommand{\defeq}{\overset{\text{def}}{=}}
    \newcommand{\smallR}{\mbox{\tiny R}}
    \newcommand{\smallF}{\mbox{\tiny F}}
    \newcommand{\softmax}{\mathrm{softmax}}
    \newcommand{\sigmoid}{\sigma}
    \newcommand{\KL}{D_{\mathrm{KL}}}
    \newcommand{\Var}{\mathrm{Var}}
    \newcommand{\Cov}{\mathrm{Cov}}


    $$
</div>
{% endif %}